# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Python (AI)
__pycache__/
*.py[cod]
.env
.venv/
venv/

# Node / Frontend
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Java / Spring
*.class
*.log
target/
.gradle/
build/

# Jupyter
.ipynb_checkpoints/

# Misc
*.tmp
*.swp
